
<h1><%= @cocktail.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Ingredients</th>
            <td><%= @cocktail.ingredients %></td>
          </tr>
          <tr>
            <th scope="row">Doses</th>
            <td><%= @cocktail.descriptions %></td>
          </tr>

        </tbody>
      </table>
